    @keyframes red-animation {
        0% { width: 20%; }
        50% { width: 80%; }
        100% { width: 20%; }
    }

    @keyframes blue-animation {
        0% { width: 80%; }
        50% { width: 20%; }
        100% { width: 80%; }
    }

    #red-gauge {
        animation: red-animation 4s ease-in-out infinite;
        animation-direction: alternate;
    }

    #blue-gauge {
        animation: blue-animation 4s ease-in-out infinite;
        animation-direction: alternate;
    }

    /* 고정된 게이지를 위한 새로운 클래스 */
    .fixed-gauge #red-gauge {
        animation: none;
    }

    .fixed-gauge #blue-gauge {
        animation: none;
    } 